
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    @RenderSection("Head", false)
</head>
<body>
    <header>
        @RenderSection("top", false)
    </header>
    <nav>
        @Html.ActionLink("Login", "Login", "Home", null, new { @class = "navlink" })
        @Html.ActionLink("Menu", "Menu", "Home", null, new { @class = "navlink" })
        @Html.ActionLink("Home", "Index", "Home", null, new { @class = "navlink" })
    </nav>
    <section class="all">
        @RenderBody()
    </section>
    <footer>
        <p class="disclaimer">Sandwich Swap is copyrighted by Group Projects United, 143 South Main, UT, 84111 </p>
    </footer>
</body>
</html>
